
:root {
  --SnapMenu-background: white;
  --SnapMenu-border-right: solid 2px var(--c-orange);
  --SnapMenu-padding-sides: var(--size-baseline);
  --SnapMenu-width: 300px;
  --SnapMenu-dismiss-bg: rgba(0, 0, 0, 0.3);
}

.SnapMenu__drawer {
  position: fixed;
  z-index: 2;
  width: var(--SnapMenu-width);
  top: 0;
  bottom: 0;
  right: calc(@width * -1);

  padding: 200px var(--SnapMenu-padding-sides) 20px;
  background: var(--SnapMenu-background);
  border-left: var(--SnapMenu-border-right);

  transition: transform .2s ease .15s;
}

.SnapMenu__dismiss {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 0;
  opacity: 0;
  transition: opacity .2s ease;

  cursor: pointer;
  background: var(--SnapMenu-dismiss-bg);
}

.SnapMenu--open .SnapMenu__drawer {
  transform: translateX(calc(var(--SnapMenu-width) * -1));
}

.SnapMenu--open .SnapMenu__dismiss {
  max-height: 100%;
  opacity: 1;
}

